.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
body{
  background-color: black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.ab-controls{
  width: 300px;
  padding-top: 50px;
}
.ab-texts-continer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ab-input{
  width: 200px;
  height: 30px;;
}
.ab-label{
  color: white;
  text-transform: uppercase;
  font-family: cursive;
  padding: 20px;
}
.ab-canvas-container{
  padding-top: 63px;
}
.ab-select{
  width: 205px;
  height: 36px;
}
.ab-canvas{
  background: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ab-small-canvas{
  background: white;
  border: black 10px solid;
  border-bottom: none;
}
.ab-first-value {
  color: rgb(100, 100, 100);
}
.ab-second-value {
  color: rgba(150, 150, 150);
}
.ab-third-value {
  color: rgba(210, 210, 210);
}
span {
  padding: 10px;
}
.ab-frame {
  border: white 2px solid;
  padding: 2px;
  margin-bottom: -2px;
  /* border-radius: 3px; */
}